* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fbfbfb;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.card-profile{
    width: 700px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0,0.1);
}

.title-bg-1{
    background-color: #e5ab47;
}

.title-bg-2{
    background-color: #f8e352;
}

.title-bg-3{
    background-color: #c8d627;
}

.button{
    width: 150px;
}

.btn{
    font-size: 100%;
    border-radius: 5rem;
    font-weight: bold;
    padding: 20px;
}

.profile_table{
    width: 100%;
    border: 1px solid #D1DBEB;
    border-radius: 8px;
    border-collapse: separate;
}

.profile_table .header{
    width: 200px;
    padding: 16px 24px;
    text-align: left;
    background: #F1F5FA;
}

.profile_table .data{
    padding: 16px 24px;
}

.form_wrap {
    display: grid;
    gap: 2px;
}
 
.form_wrap-2 {
    grid-template-columns: repeat(2, 1fr);
} 

.form-control:focus {
    box-shadow: none;
}

.card-auth {
    width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.radio{
    margin: 10px 20px;
}

/* .price-table{
    overflow: scroll;
    margin: 50px auto 20px;
	padding: 25px;
	width: 300px;
	height: 200px;
	border: 2px solid #ccc;
} */

/* section{
    overflow: scroll;
    margin: 50px auto 20px;
	padding: 25px;
	width: 300px;
	height: 200px;
	border: 2px solid #ccc;
} */

.example {
    width: 50px;
    height: 50px;
    overflow: visible;
    background: skyblue;
}

.price-table{
    table-layout: fixed;
    width: 100%;
}

th{
    padding: 10px;
}

#tabcontrol{
    margin-bottom: 0rem;
}

#tabcontrol a {
    display: inline-block;            /* インラインブロック化 */
    border-width: 1px 1px 0px 1px;    /* 下以外の枠線を引く */
    border-style: solid;              /* 枠線の種類：実線 */
    border-color: black;              /* 枠線の色：黒色 */
    padding: 0.5em 2em; 　　　　 /*内側の余白*/        
    text-decoration: none;            /* リンクの下線を消す */
    color: black;                     /* 文字色：黒色 */
    background-color: white;          /* 背景色：白色 */
    font-weight: bold;                /* 太字 */
    position: relative;               /* JavaScriptでz-indexを調整するために必要 */
}
 /* ▼タブにマウスポインタが載った際(任意) */
#tabcontrol a:hover {
    text-decoration: underline;       /* 文字に下線を引く */
}

#tabbody div {
    border: 1px solid black; /* 枠線：黒色の実線を1pxの太さで引く */
    margin-top: -1px;        /*上側にあるタブと1pxだけ重ねるために「-1px」を指定*/
    padding: 1em;            /* 内側の余白量 */
    background-color: white; /* 背景色：白色 */
    position: relative;      /* z-indexを調整するために必要 */
    z-index: 0;              /* 重なり順序を「最も背面」にするため */
    min-height: 100px;
}

#tabcontrol a:nth-child(1) { background-color: #e5ab47; } /* 1つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(2) { background-color: #f8e352; } /* 2つ目のタブとその中身用の配色 */
#tabcontrol a:nth-child(3) { background-color: #c8d627 }/* 3つ目のタブとその中身用の配色 */