{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="h5 mt-5">総額計算</div>
  <p id="tabcontrol">
    <a href="#tabpage1" class="present">物件1</a>
    <a href="#tabpage2">物件2</a>
    <a href="#tabpage3">物件3</a>
  </p>
  <div id="tabbody">
    <!-- タブ1 -->
    <div id="tabpage1">
      <form method="post">
        <table class="container" border="2" width="200px">
          {% csrf_token %}
          <tbody>
            <tr>
              <th scope="row" class="title-bg-1 text-center">契約タイプ</th>
              <td>
                <label class="ml-4 mr-5 my-3"><input type="radio" name="contract" value="hoge1" onclick="entryChange1();" checked="checked"/>持ち家</label>
                <label class="ml-4 mr-5 my-3"><input type="radio" name="contract" value="hoge2" onclick="entryChange1()">賃貸</label>
              </td>
            </tr>
          </tbody>
          <!-- 持ち家用 -->
          <tbody id="ownBox">
            <tr>
              <th scope="row" class="title-bg-1 text-center">物件タイプ</th>
              <td class="formpost">
                <label class="ml-4 mr-5 my-3"><input type="radio" name="housing">戸建て</label>
                <label class="ml-4 mr-5 my-3"><input type="radio" name="housing">マンション</label>
              </td>
            </tr>
            <tr>
              <th scope="row" class="title-bg-1 text-center">各種費用</th>
              <td class="data ml-4 mr-5 my-3">
                <p>物件価格（円）
                  {% render_field form.price class="form-control" placeholder="物件価格" %}
                </p>
                <p>修繕積立（円/月）
                  {% render_field form.rent_fee class="form-control disabled" placeholder="修繕積立" %}
                </p>
                <p>管理費（円/月）
                  {% render_field form.MMF class="form-control disabled" placeholder="管理費" %}
                </p>
                <p>その他（円/月）
                  {% render_field form.OMF class="form-control disabled" placeholder="その他" %}
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row" class="title-bg-1 text-center">ローン借入</th>
              <td class="formpost">
                <label class="ml-4 mr-5 my-3"><input type="radio" name="loan">有</label>
                <label class="ml-4 mr-5 my-3"><input type="radio" name="loan">無</label><br>
                借入金（円）　{% render_field form.loan class="form-control " placeholder="ローン借入額" %}<br>
                年利（％）　　{% render_field form.interest class="form-control" placeholder="年利" %}<br>
              </td>
            </tr>
            <tr>
              <th scope="row" class="title-bg-1 text-center">頭金</th>
              <td class="ml-4 mr-5 my-3 formpost">
                頭金（円）　　{% render_field form.down class="form-control w-25" placeholder="頭金" %}
              </td>
            </tr>
            <tr>
              <th scope="row" class="title-bg-1 text-center">返済期間</th>
              <td class="ml-4 mr-5 my-3 formpost">
                返済期間（年）　{% render_field form.term class="form-control" placeholder="返済期間" %}
              </td>
            </tr>
          </tbody>
          <!-- 賃貸 -->
          <tbody id="rentBox">
            <tr>
              <th scope="row" class="title-bg-1 text-center">各種費用</th>
              <td class="data ml-4 mr-5 my-3">
                <p>賃貸価格（円/月）
                  {% render_field form.rent_fee class="form-control w-25" disabled id="" placeholder="賃貸価格" %}
                </p>
                <p>管理費（円/月）
                  {% render_field form.mnt class="form-control" placeholder="修繕積立" %}
                </p>
                <p>その他（円/月）
                  {% render_field form.r_other class="form-control" placeholder="管理費" %}
                </p>
              </td>
            </tr>
            <tr>
              <th scope="row" class="title-bg-1 text-center">賃貸期間</th>
              <td class="ml-4 mr-5 my-3 formpost">
                賃貸期間（年）{% render_field form.r_term class="form-control" placeholder="賃貸期間" %}
              </td>
            </tr>
          </tbody>
        </table>
        <p class="text-center mt-3">
          <button type="submit" class="btn btn-info mt-3" id="simulation">シミュレーション実行</button>
        </p>
      </form>
    </div>
  </div>

<!-- タブ2、3コピペ場所 -->

<div class="h5 mt-5">総額内訳</div>
<section>
  <table class="container text-center price-table" border="2">
    <tbody>
      <tr class="bg-warning">
        <th scope="row" rowspan="2"></th>
        <th scope="row" colspan="4">各種物件費用</th>
        <th scope="row" rowspan="2">ローン利息</th>
        <th scope="row" rowspan="2">消費税</th>
        <th scope="row" rowspan="2">購入初期費</th>
        <th scope="row" rowspan="2">ローン初期費</th>
        <th scope="row" rowspan="2">固定資産税</th>
        <th scope="row" rowspan="2">総額</th>
    </tr>
    <tr class="bg-warning">
      <th scope="row mx-4 my-4">物件価格</th>
      <th scope="row">修繕積立</th>
      <th scope="row">管理費</th>
      <th scope="row">その他</th>
    </tr>
    <tr class="mx-4 my-4">
      <th scope="row">物件1</th>
      <td class="mx-4 my-4">{{ total_price }}</td>
      <td class="mx-4 my-4">{{ total_RRF }}</td>
      <td class="mx-4 my-4">{{ total_MMF }}</td>
      <td class="mx-4 my-4">{{ total_OMF }}</td>
      <td class="mx-4 my-4">{{ total_interest }}</td>
      <td class="mx-4 my-4">{{ vat }}</td>
      <td class="mx-4 my-4">{{ miscellaneous }}</td>
      <td class="mx-4 my-4">{{ miscellaneous_if_loan }}</td>
      <td class="mx-4 my-4">{{ property_tax }}</td>
      <td class="mx-4 my-4">{{ grand_total }}</td>
    </tr>
    <tr>
      <th scope="row">物件2</th>
      <td class="mx-4 my-4">{{ total_price }}</td>
      <td class="mx-4 my-4">{{ total_RRF }}</td>
      <td class="mx-4 my-4">{{ total_MMF }}</td>
      <td class="mx-4 my-4">{{ total_OMF }}</td>
      <td class="mx-4 my-4">{{ total_interest }}</td>
      <td class="mx-4 my-4">{{ vat }}</td>
      <td class="mx-4 my-4">{{ miscellaneous }}</td>
      <td class="mx-4 my-4">{{ miscellaneous_if_loan }}</td>
      <td class="mx-4 my-4">{{ property_tax }}</td>
      <td class="mx-4 my-4">{{ grand_total }}</td>
    </tr>
    <tr>
      <th scope="row">物件3</th>
      <td class="mx-4 my-4">{{ total_price }}</td>
      <td class="mx-4 my-4">{{ total_RRF }}</td>
      <td class="mx-4 my-4">{{ total_MMF }}</td>
      <td class="mx-4 my-4">{{ total_OMF }}</td>
      <td class="mx-4 my-4">{{ total_interest }}</td>
      <td class="mx-4 my-4">{{ vat }}</td>
      <td class="mx-4 my-4">{{ miscellaneous }}</td>
      <td class="mx-4 my-4">{{ miscellaneous_if_loan }}</td>
      <td class="mx-4 my-4">{{ property_tax }}</td>
      <td class="mx-4 my-4">{{ grand_total }}</td>
    </tr>
    </tbody>
  </table>
</section>


<div class="h5 mt-5">支払い金額推移</div>
<div class="form-row text-center">
  <div class="col-12 text-center mt-3">
    <canvas id="myLineChart"></canvas>
    <button type="button" class="btn btn-info mt-3">シミュレーション結果を保存</button>
  </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script>
  var ctx = document.getElementById("myLineChart");
  console.log("Hello World")
  // var p_li_js = '({{ total_price }})';
  var p_li = '{{ p_li }}';
  console.log(p_li)
  p_li = p_li.split(',')
  console.log(p_li)
  var t_li = '{{ t_li }}';
  console.log(t_li)
  t_li = t_li.split(',')
  console.log(t_li)
  var myLineChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: t_li,
      datasets: [
        {
          label: '支払い総額',
          // data: [35000000, 40000000, 70000000, 50000000, 75000000],
          data: p_li,
          borderColor: "rgba(255,0,0,1)",
          backgroundColor: "rgba(0,0,0,0)"
        },
        {
          label: '最低気温（度）',
          data: ['25000000', '27000000', '27000000', '25000000', '26000000'],
          borderColor: "rgba(0,0,255,1)",
          backgroundColor: "rgba(0,0,0,0)"
        }
      ],
    },
    options: {
      title: {
        display: true,
        text: '気温（8月1日~8月7日）'
      },
      scales: {
        yAxes: [{
          ticks: {
            suggestedMax: 100000000,
            suggestedMin: 0,
            stepSize: 10000000,
            callback: function (value, index, values) {
              return value + '円'
            }
          }
        }]
      },
    }
  });

  // タブの切り替える
  // A.対象要素を得る
  var tabs = document.getElementById('tabcontrol').getElementsByTagName('a');
  var pages = document.getElementById('tabbody').getElementsByTagName('div');
  // B.タブの切り替え処理
  function changeTab() {
    var targetid = this.href.substring(this.href.indexOf('#')+1,this.href.length); // ▼B-1. href属性値から対象のid名を抜き出す
    for(var i=0; i<pages.length; i++) {      // ▼B-2. 指定のタブページだけを表示する
        if( pages[i].id != targetid ) {
          pages[i].style.display = "none";
        }
        else {
          pages[i].style.display = "block";
        }
    }
    for(var i=0; i<tabs.length; i++) {    // ▼B-3. クリックされたタブを前面に表示する
        tabs[i].style.zIndex = "0";
    }
    this.style.zIndex = "10";
    return false;    // ▼B-4. ページ遷移しないようにfalseを返す
  }

  for(var i=0; i<tabs.length; i++) {   // C.全てのタブに対して、クリック時にchangeTab関数が実行される
    tabs[i].onclick = changeTab;
  }
  tabs[0].onclick();  

  // ラジオボタンを使ったフォームの切り替え
  function entryChange1(){
    radio = document.getElementsByName("contract")
    if(radio[0].checked){
      document.getElementById("ownBox").style.display="";
      document.getElementById("rentBox").style.display="none";
    } else if(radio[1].checked){
      document.getElementById("ownBox").style.display="none";
      document.getElementById("rentBox").style.display="";
    }
  }

  windows.onload = entryChange1;

</script>
{%  endblock %}