{% extends "app/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="h5">総額計算</div>
<!-- <table class="table" width="1000"> -->
<table class="container" border="2" width="200px">
    <form method="post">
        {% csrf_token %}
        <tbody>
            </div>
            <tr>
                <th scope="row" class="bg-info">契約タイプ</th>
                <td class="radio">
                    <label class="radio_position"><input type="radio" name="radio">持ち家</label>
                    <label class="radio_position"><input type="radio" name="radio">賃貸</label>
                </td>
            </tr>
            <tr>
                <th scope="row" class="bg-info">物件タイプ</th>
                <td class="radio">
                    <label class="radio_position"><input type="radio" name="radio">戸建て</label>
                    <label class="radio_position"><input type="radio" name="radio">マンション</label>
                </td>
            </tr>
            <tr>
                <th scope="row" class="bg-info">各種費用</th>
                <td>
                    物件価格{% render_field form.price class="form-control" placeholder="物件価格" %}<br>
                    修繕積立{% render_field form.price class="form-control" placeholder="物件価格" %}<br>
                    管理費　{% render_field form.price class="form-control" placeholder="物件価格" %}<br>
                    その他　{% render_field form.price class="form-control" placeholder="物件価格" %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="bg-info">ローン借入</th>
                <td class="radio">
                    <label class="radio_position"><input type="radio" name="radio">有</label>
                    <label class="radio_position"><input type="radio" name="radio">無</label><br>
                    借入金　{% render_field form.price class="form-control" placeholder="物件価格" %}<br>
                    年利　　{% render_field form.price class="form-control" placeholder="物件価格" %}<br>
                </有>
            </tr>
            <tr>
                <th scope="row" class="bg-info">頭金</th>
                <td>{% render_field form.price class="form-control" placeholder="物件価格" %}</td>
            </tr>
            <tr>
                <th scope="row" class="bg-info">返済期間</th>
                <td>{% render_field form.price class="form-control" placeholder="物件価格" %}</td>
            </tr>
        </tbody>
    </form>
</table>
    
<div class="form-row text-center">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-info">シミュレーション実行</button>
    </div>
</div>
<div class="h5">総額内訳</div>
<table class="container" border="2">
    <tbody>
        <tr class="bg-warning">
            <th scope="row" rowspan="2"></th>
            <th scope="row" colspan="4">各種費用</th>
            <th scope="row" rowspan="2">ローン利息</th>
            <th scope="row" rowspan="2">消費税</th>
            <th scope="row" rowspan="2">総額</th>
        </tr>
        <tr class="bg-warning">
            <th scope="row">物件価格</th>
            <th scope="row">修繕積立</th>
            <th scope="row">管理費</th>
            <th scope="row">その他</th>
        </tr>
        <tr>
            <th scope="row">物件1</th>
            <td>{{ total_price }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">物件2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="h5">支払い金額推移</div>
<div class="form-row text-center">
    <div class="col-12 text-center">
        <img src="http://placehold.jp/24/c1c1c1/993333/920x460.png" alt="">
    </div>
    <button type="button" class="btn btn-info">シミュレーション結果を保存</button>
</div>

{%  endblock %}
