タブ2情報
<div id="tabpage2">
  <form method="post">
    <table class="container" border="2" width="200px">
      <tbody>
        <tr>
          <th scope="row" class="title-bg-2 text-center">契約タイプ</th>
          <td class="formpost">
            <label class="ml-4 mr-5 my-3"><input type="radio" name="contract">持ち家</label>
            <label class="ml-4 mr-5 my-3"><input type="radio" name="contract">賃貸</label>
          </td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-2 text-center">物件タイプ</th>
          <td class="formpost">
            <label class="ml-4 mr-5 my-3"><input type="radio" name="housing">戸建て</label>
            <label class="ml-4 mr-5 my-3"><input type="radio" name="housing">マンション</label>
          </td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-2 text-center">各種費用</th>
          <td class="data ml-4 mr-5 my-3">
            <p>物件価格（円）
              {% render_field form.price class="form-control" placeholder="物件価格" %}
            </p>
            <div class="formpost" type="text">
            </div>
            <p>修繕積立（円/月）
              {% render_field form.RRF class="form-control disabled" placeholder="修繕積立" %}
            </p>
            <p>管理費（円/月）
              {% render_field form.MMF class="form-control disabled" placeholder="管理費" %}
            </p>
            <p>その他（円/月）
              {% render_field form.OMF class="form-control disabled" placeholder="その他" %}
            </p>
          </td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-2 text-center">ローン借入</th>
          <td class="formpost">
            <label class="ml-4 mr-5 my-3"><input type="radio" name="loan">有</label>
            <label class="ml-4 mr-5 my-3"><input type="radio" name="loan">無</label><br>
            借入金（円）　{% render_field form.loan class="form-control" placeholder="ローン借入額" %}<br>
            年利（％）　　{% render_field form.interest class="form-control" placeholder="年利" %}<br>
          </td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-2 text-center">頭金</th>
          <td class="ml-4 mr-5 my-3 formpost">
            頭金（円）　　{% render_field form.down class="form-control" placeholder="頭金" %}</td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-2 text-center">返済期間</th>
          <td class="ml-4 mr-5 my-3 formpost">
            返済期間（年）　{% render_field form.term class="form-control" placeholder="返済期間" %}</td>
        </tr>
      </tbody>
    </table>
    <p class="text-center mt-3">
      <button type="submit" class="btn btn-info mt-3 mb-5" id="simulation">シミュレーション実行</button>
    </p>
  </form>
</div>

タグ3
<div id="tabpage3">
  <form method="post">
    <table class="container" border="2" width="200px">
      {% csrf_token %}
      <tbody>
        <tr>
          <th scope="row" class="title-bg-3 text-center">契約タイプ</th>
          <td class="formpost">
            <label class="ml-4 mr-5 my-3"><input type="radio" name="contract">持ち家</label>
            <label class="ml-4 mr-5 my-3"><input type="radio" name="contract">賃貸</label>
          </td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-3 text-center">物件タイプ</th>
          <td class="formpost">
            <label class="ml-4 mr-5 my-3"><input type="radio" name="housing">戸建て</label>
            <label class="ml-4 mr-5 my-3"><input type="radio" name="housing">マンション</label>
          </td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-3 text-center">各種費用</th>
          <td class="data ml-4 mr-5 my-3">
            <p>物件価格（円）
              {% render_field form.price class="form-control" placeholder="物件価格" %}
            </p>
            <p>修繕積立（円/月）
              {% render_field form.RRF class="form-control disabled" placeholder="修繕積立" %}</div>
            </p>
            <p>管理費（円/月）
              {% render_field form.MMF class="form-control disabled" placeholder="管理費" %}
            </p>
            <p>その他（円/月）
              {% render_field form.OMF class="form-control disabled" placeholder="その他" %}
            </p>
          </td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-3 text-center">ローン借入</th>
          <td class="formpost">
            <label class="ml-4 mr-5 my-3"><input type="radio" name="loan">有</label>
            <label class="ml-4 mr-5 my-3"><input type="radio" name="loan">無</label><br>
            借入金（円）　{% render_field form.loan class="form-control" placeholder="ローン借入額" %}<br>
            年利（％）　　{% render_field form.interest class="form-control" placeholder="年利" %}
          </td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-3 text-center">頭金</th>
          <td class="ml-4 mr-5 my-3 formpost">
            頭金（円）　　{% render_field form.down class="form-control" placeholder="頭金" %}</td>
        </tr>
        <tr>
          <th scope="row" class="title-bg-3 text-center">返済期間</th>
          <td class="ml-4 mr-5 my-3 formpost">
            返済期間（年）　{% render_field form.term class="form-control" placeholder="返済期間" %}</td>
        </tr>
      </tbody>
    </table>
    <p class="text-center mt-3">
      <button type="submit" class="btn btn-info mt-3 mb-5" id="simulation">シミュレーション実行</button>
    </p>
  </form>
</div>