<label>
  <input class="js-check" type="radio" name="rs" value="1" onclick="formSwitch()" >特にない
</label>

<label>
  <input class="js-check" type="radio" name="rs" value="1" onclick="formSwitch()">好きな音楽のジャンル
</label>

<span id="sample">
  
<div class="selecter">
  <select id="changeSelect" name="hoge" onchange="entryChange2();">
    <option value="select1">ジャンルを選んでください</option>
    <option value="select2">ロック</option>
    <option value="select3">ジャズ</option>
    <option value="select4">ポップス</option>
    <option value="select5">クラシック</option>
    <option value="select6">ラテン</option>
   </select>
</div>
  
</span>

<div id="Box">
  <p>『ロック』の発祥は1950年代と言われています。アメリカに奴隷として連れてこられた黒人たちのアフリカ系黒人音楽が起源らしいです。</p>
</div>

<div id="Box2">
  <p>『ジャズ』は、19世紀末から20世紀初頭にかけて、アメリカのニューオリーンズで西洋楽器を用いたヨーロッパ音楽の技術と独特なリズムの黒人音楽が融合したことにより生まれたとされます。</p>
</div>

<div id="Box3">
  <p>『ポップス』は1950〜60年代に西洋でロックの派生として現代的形態で始まったポピュラー音楽です。</p>
</div>

<div id="Box4">
  <p>『クラシック』の語源はラテン語のクラスにあり、直訳すると「古典音楽」です。一流・最高という意味もあります。</p>
</div>

<div id="Box5">
  <p>『ラテン』は、中南米発祥の音楽の総称で中南米とカリブ海地域のラテン系の民族音楽のことを言います。</p>
</div>





<!-- JavaScrip -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script>
var selecterBox = document.getElementById('sample');
var selecter = document.getElementById('changeSelect');
var item1 = document.getElementById('Box'); //Box：セレクタの説明文
var item2 = document.getElementById('Box2');
var item3 = document.getElementById('Box3');
var item4 = document.getElementById('Box4');
var item5 = document.getElementById('Box5');
selecterBox.style.display = "none"; 
item2.style.display = "none";
item3.style.display = "none";
item4.style.display = "none";
item5.style.display = "none";
item1.style.display = "none";
//要素.style.display='none'で'その要素が非表示になる。
//つまり、selectorBoxになにも選択されていない場合、selectorBoxには何も表示されない
// document.getElementByIdのgetは、getElementByIdを使うのに必要な提携文と覚えて差し支えは無い

function formSwitch() {
  check = document.getElementsByClassName('js-check')
  if (check[0].checked) {
    selecterBox.style.display = "none";
    item1.style.display = "none";
    item2.style.display = "none";
    item3.style.display = "none";
    item4.style.display = "none";
    item5.style.display = "none";
    selecter.selectedIndex = 0;
  // .checkedプロパティ。チェックボックスがチェックされていればTrueを返し、されていなければfalseを返す。
  // getElementsBy系のメソッドは、idがhtml中に複数存在する場合、全ての要素をリストに格納する。
  // つまり、check[0]とは「特に無い」ラジオボックスのことで、check[1]は「好きな音楽のジャンル」
  // 上記は「特にない」を選択していた場合、全てのitemで非表示を選択するということ
  } else if (check[1].checked) {
    selecterBox.style.display = "block";
  } else {
    selecterBox.style.display = "none";
    // 何も選択されていなければ非表示
  } 
}
window.addEventListener('load', formSwitch());

function entryChange2(){
  if(document.getElementById('changeSelect')){
  id = document.getElementById('changeSelect').value;

  if(id == 'select2'){
    item1.style.display = "block";
    item2.style.display = "none";
    item3.style.display = "none";
    item4.style.display = "none";
    item5.style.display = "none";
  }
  else if(id == 'select3'){
    item1.style.display = "none";
    item2.style.display = "block";
    item3.style.display = "none";
    item4.style.display = "none";
    item5.style.display = "none";
  }
  else if(id == 'select4'){
    item1.style.display = "none";
    item2.style.display = "none";
    item3.style.display = "block";
    item4.style.display = "none";
    item5.style.display = "none";
  }
  else if(id == 'select5'){
    item1.style.display = "none";
    item2.style.display = "none";
    item3.style.display = "none";
    item4.style.display = "block";
    item5.style.display = "none";
  }
    else if(id == 'select6'){
    item1.style.display = "none";
    item2.style.display = "none";
    item3.style.display = "none";
    item4.style.display = "none";
    item5.style.display = "block";
  }
  else{
    item1.style.display = "none";
    item2.style.display = "none";
    item3.style.display = "none";
    item4.style.display = "none";
    item5.style.display = "none";
  }
}
}

</script>